<h1 class="text-2xl font-bold">Dashboard</h1>
<!-- Filters -->
<div class="flex flex-row gap-2 py-4"></div>
<!-- Filter by symbol  -->
<app-generic-dropdown-filter
  [(selected)]="selectedSymbol"
  [data]="symbolsFilter()"
  [displayFn]="displaySymbol"
></app-generic-dropdown-filter>
<div class="grid grid-cols-2 lg:grid-cols-5 gap-4 py-3">
  <app-budget-table
    [totalInvestment]="totalInvestments"
    [totalIncome]="totalIncome"
    [totalExpense]="totalExpenses"
    [totalWish]="totalWishes"
    class="col-span-3 bg-white shadow-sm rounded-lg p-5"
  ></app-budget-table>
  <app-pie-chart
    class="col-span-2 flex bg-white items-center shadow-sm rounded-lg p-3"
    [pieChartData]="pieChartData()"
  ></app-pie-chart>
</div>
<div class="grid grid-cols-1 md:grid-cols-4 gap-6 pt-4">
    <app-dashboard-dynamic-table
    [data]="investments()"
    [total]="totalInvestments"
    [columns]="investmentColumns"
    [minRows]="12"
    [pageSize]="12"
    title="Investments"
  >
  </app-dashboard-dynamic-table>
  <app-dashboard-dynamic-table
    [data]="incomes()"
    [total]="totalIncome"
    [columns]="incomeColumns"
    [minRows]="12"
    [pageSize]="12"
    title="Incomes"
  >
  </app-dashboard-dynamic-table>
  <app-dashboard-dynamic-table
    [data]="expenses()"
    [total]="totalExpenses"
    [columns]="expenseColumns"
    [minRows]="12"
    [pageSize]="12"
    title="Expenses"
  >
  </app-dashboard-dynamic-table>
  <app-dashboard-dynamic-table
    [data]="wishes()"
    [total]="totalWishes"
    [columns]="wishColumns"
    [minRows]="12"
    [pageSize]="12"
    title="Wishes"
  >
  </app-dashboard-dynamic-table>
</div>
