<div>
  <table mat-table [dataSource]="data" class="!bg-white rounded-lg">
    <ng-container matColumnDef="category">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="bg-gray-100 text-left px-4 py-2 font-semibold"
      ></th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2 font-medium">
        {{ element.category }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="px-4 py-2 font-bold text-lg bg-gray-50">
        Total Spend
      </td>
    </ng-container>

    <ng-container matColumnDef="ideal">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 px-4 py-2 font-semibold">
        Ideal Amount
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{ (element.goal / 100) * totalIncome() | number: '1.2-2' }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="bg-gray-50"></td>
    </ng-container>

    <ng-container matColumnDef="goal">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 px-4 py-2 font-semibold">Goal</th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
      <input
        type="number"
        [(ngModel)]="element.goal"
        min="0"
        max="100"
        step="0.1"
        class="w-16 text-center border border-gray-300 rounded px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      %
    </td>
      <td mat-footer-cell *matFooterCellDef class="bg-gray-50"></td>
    </ng-container>
    

    <ng-container matColumnDef="actual">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 px-4 py-2 font-semibold">Actual</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngClass]="{
          'text-red-700 font-semibold':
            (element.actual > element.goal && element.category != 'FUTURE YOU') ||
            (element.actual < element.goal && element.category == 'FUTURE YOU'),
          'text-green-600 font-semibold':
            (element.actual < element.goal && element.category != 'FUTURE YOU') ||
            (element.actual >= element.goal && element.category == 'FUTURE YOU'),
        }"
        class="px-4 py-2"
      >
        {{ element.actual | number: '1.2-2' }}%
      </td>
      <td mat-footer-cell *matFooterCellDef class="bg-gray-50"></td>
    </ng-container>

    <ng-container matColumnDef="spent">
      <th mat-header-cell *matHeaderCellDef class="bg-gray-100 px-4 py-2 font-semibold">
        Total Spent
      </th>
      <td mat-cell *matCellDef="let element" class="px-4 py-2">
        {{ element.spent | number: '1.2-2' }}
      </td>
      <td mat-footer-cell *matFooterCellDef class="px-4 py-2 text-lg font-bold bg-gray-50">
        {{ totalSpent() | number: '1.2-2' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <table
    mat-table
    [dataSource]="footerData"
    class="!bg-white !border !border-gray-100 shadow-sm/15"
  >
    <ng-container matColumnDef="category">
      <td mat-cell *matCellDef="let element" class="px-4 py-2 font-bold">
        {{ element.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="spent">
      <td
        mat-cell
        *matCellDef="let element"
        class="px-4 py-2 text-lg font-bold bg-gray-50 !text-left"
        [ngClass]="{
          'text-red-700 font-semibold': element.spent < 0,
          'text-green-600 font-semibold': element.spent >= 0,
        }"
      >
        {{ element.spent | number: '1.2-2' }}
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: emptyColumns"></tr>
  </table>
</div>
